* {
    margin: 0;
    padding: 0;
}

.boxcenter {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.middlecenter {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

* {
    box-sizing: border-box;
}

.wi100 {
    width: 100%;
}

.hei100 {
    height: 100%;
}

.heivh100 {
    height: 100vh;
}

.pflex {
    position: fixed;
    /* 固定定位 */
}

.flex {
    display: flex;
}

.flex-wa {
    /* 子元素换行排列 */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-w {
    display: flex;
    flex-wrap: wrap;
}

// 子元素换行两边排列
.flex-wsb {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.flex-j {
    display: flex;
    justify-content: center;
    /* 水平方向居中 */
}

.flex-a {
    display: flex;
    align-items: center;
    /* 垂直方向居中 */
}

.flex-ja {
    /* felx-ja 垂直水平方向居中 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-sb {
    /* flex-sb 子元素两边排列 */
    display: flex;
    justify-content: space-between;
}

.flex-sba {
    /* flex-sb 子元素两边排列 bing居中 */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-d {
    /* z子元素竖向排列 */
    display: flex;
    flex-direction: column;
}

.flex-e {
    display: flex;
    justify-content: flex-end;
}

.flex-di {
    /* 子元素竖向排列并居中 */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-dj {
    /* 子元素竖向排列并居中 */
    display: flex;
    flex-direction: column;
}

.flex-dji {
    /* 子元素竖向排列并水平垂直居中 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pad-t10 {
    padding-top: 10px;
}

.pang38 {
    padding: 38px 0;
}

.pad-t20 {
    padding-top: 20px;

}

.padt30 {
    padding-top: 30px;

}

.padt25 {
    padding-top: 25px;
}

.padl20 {
    padding-left: 20px;
}

.marr10 {
    margin-right: 10px;
}

.pad-t15 {
    padding-top: 15px;
}

.pad10 {
    padding: 10px;
}

.pab10 {
    padding-bottom: 10px;
}

.padr10 {
    padding-right: 10px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.margin-r55 {
    margin-right: 55px;
}

.margin10 {
    margin: 20px 10px;
}

.marginauto {
    margin: 0 auto;
}

.img100 {
    width: 100%;
    height: 100%;
}

.wi50 {
    width: 50%;
    height: 50%;
}

.img120 {
    height: 120%;
}

.img50 {
    width: 50%;
    height: 50%;
}

.font30 {
    font-size: 30px;
}

.font28 {
    font-size: 28px;

}

.font26-icon {
    font-size: 26px;
}

.font24 {
    font-size: 24px;
}

.font22 {
    font-size: 22px;
}

.font20 {
    font-size: 20px;
}

.font18 {
    font-size: 18px;
}

.font16 {
    font-size: 16px;
}

.font14 {
    font-size: 14px;
}

.font12 {
    font-size: 12px;
}

.font0 {
    font-size: 0;
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2
}

.color30 {
    color: #000000;
}

.color3f {
    /* 白色 */
    color: #fff;
}

.color3b {
    color: #bbbbbb;

}

.color21 {
    color: #212121;
}

.color75 {
    color: #757575;
}

.back3f {
    background-color: #fff;
}

.backfa {
    background-color: #fafafa;

}

.backf5 {
    background-color: #f5f5f5;
}

.margintb {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mat10 {
    margin-top: 10px;
}

.mat5 {
    margin-top: 5px;
}

.mat20 {
    margin-top: 20px;
}

.mar5 {
    margin-right: 5px;
}

.mar10 {
    margin-right: 10px;
}

.-mar-l5 {
    margin-left: -5px;

}

.mar-l15 {
    margin-left: -10px;
}

.mar-l-15 {
    margin-left: -15px;

}

.mar15 {
    margin-right: 15px;
}

.margin-r10 {
    margin-right: 10px;
}

.margin-r20 {
    margin-right: 20px;
}

.mar30 {
    margin-right: 30px;
}

.margin5 {
    margin: 0 5px;
}

.mal5 {
    margin-left: 5px;

}

.mal10 {
    margin-left: 10px;
}

.mal15 {
    margin-left: 15px;
}

.mal20 {
    margin-left: 20px;
}

.eee {
    color: #666;
}

.b0b0b0 {
    color: #b0b0b0;
}

.a0a0 {
    color: #a0a0a0;
}

.color333 {
    color: #333333;
}

.margin--l15 {
    margin-left: -20px;
}

.margin-l10 {
    margin-left: 10px;

}

.marl25 {
    margin-left: 25px;
}

.marl30 {
    margin-left: 30px;

}

.margin-b10 {
    margin-bottom: 10px;
}

.padlr10 {
    padding: 0 10px;
}

.pad1020 {
    padding: 10px 20px;
}



.margin10 {
    margin: 0px 10px;
}

.margin-b20 {
    margin-bottom: 20px;
}

.margin-b30 {
    margin-bottom: 30px;

}

.text-de {
    /* 有下划线 */
    text-decoration: underline;
}

.text-li {
    text-decoration: line-through;
    /* 删除线 */
}

.font-w4 {
    font-weight: 400;
}

.font-w7 {
    /* 加粗 */
    font-weight: 700;
}

.fontstyle-i {
    /* 斜体 */
    font-style: italic;
}

.shuoming {
    position: relative;
    top: 55px
}

.textr {
    text-align: right;
}

.textl {
    text-align: left;
}

.textcenter {
    text-align: center;
}

.nowap {
    white-space: nowrap;
}

.overhidden {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mar-le20 {
    margin-top: 20px;
    margin-left: 20px;
}

.marr20 {
    margin-right: 20px;
}


.radius100 {
    border-radius: 100%;
}

.formValidate-view {
    .ivu-input {
        height: 60px !important;
        background: #F9F9F9;
        border-radius: 4px;
        transition: all .3s cubic-bezier(.645, .045, .355, 1);
    }

    .ivu-icon-ios-eye-off-outline {
        text-align: center;
        line-height: 60px;
    }
}

.Carousel-box {
    .ivu-carousel-arrow.left {
        left: 245px !important;
    }
}

.Themecolor {
    color: #ff6700;
}

.containerAuto {
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
}

.ivu-poptip-content {
    border: 1px solid #ff6700 !important;
}

.search-box {

    .ivu-input:hover {
        border-color: #ff6800 !important;
    }

    &:hover {
        border: 1px solid #ff6800 !important;

    }

    .ivu-input:focus {
        border: 1px solid #ff6800 !important;
    }
}